.message-return {
  display: flex;
  justify-content: center;
  background-color: green;
  width: 100%;
  padding: 0 10px;
}

.message-return button {
  width: 20px;
  margin-left: 10px;
  background-color: transparent;
}

.message-return button:hover {
  background-color: transparent;
}
